:root {
	--base: #000;
	--white: #fff;
	--grey: #999;
}

body{min-height: 1000px;}
img{width: 100%; height: auto;}
a{ text-decoration:none;}
header, nav, main, footer{ padding:1% 5%; }
header, nav, footer{ background-color: var(--base); }
header a, nav a, footer a{ color: var(--white); }

.top-icons li{
	display: inline;
	margin-left: 5%;
}
.top-icons{ text-align:right; }


/* Nav bar */
nav{ color: var(--white); }
.usr_nav{
	background-color: red;
}
.adm_nav{
	background-color: black;
}

header {display: flex;}

nav{display: flex; justify-content: center; width: 100%;}
nav ul{width: 50%;  display:flex; justify-content: space-between;}
nav ul li{display: inline-flex;}
/* End Nav Bar */

/*Footer*/
footer {color: var(--white);}