@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
	--cor1: rgb(0, 0, 0); /*Preto*/
	--cor2: rgb(255,255,255);
	--cor3: rgb(1,57,85);
	--cor4: rgb(16, 82, 102);
	--cor5: rgb(11,117,100);
	--cor6: rgb(29,179,109);
	--cor7: rgb(113,194,115);
}

/* Matriz row, col, col-x, */

.row{display: table; width: 100%}
.col{display: table-cell; vertical-align: top;}
.col-1{width: 8.33%; }
.col-2{width: 16.66%; }
.col-3{width: 25%; }
.col-4{width: 33.33%; }
.col-5{width: 41.66%; }
.col-6{width: 50%; }
.col-7{width: 58.33%;}
.col-8{width: 66.66%; }
.col-9{width: 75%; }
.col-10{width: 83.33%; }
.col-11{width: 91.66%; }
.col-12{width: 100%; }

.txt-right{ text-align: right; padding-bottom: 1%;}
.txt-center{ text-align: center; }
.txt-left{ text-align:left;}

body{margin: 0; padding:0;}

a{
	text-decoration: none;
}

/*
	Formato Desktop
*/

/* Header */

header{
	width: 100%;
	padding: 0;
	background: linear-gradient(#013955, #0B7564);
	
}


.logotipo img{
	width: 10%;
	height: auto;
	margin-left: 2%;

}

#socialMedia{
	text-align: center;
	vertical-align: middle;
}

#socialMedia ul{
	padding: 0;
	margin:0;
}

#socialMedia i{
	color: #fff;
	margin-right: 20%;
}

.conta{
	margin-top: 1%;
	vertical-align: middle;
}
header .conta a{
	color: #fff;
	margin: 2%;
}

.conta ul{
	justify-content: right;
	text-align: right;
}

/*NAV BAR*/

.navBar{
	text-align: center;
	padding: 2% 0 2% 0;
	font-family: Poppins;
	margin: 0;
}

.navBar li{
	text-decoration: none;
	list-style: none;
	display: inline;
	margin-right: 5%;
}

.navBar li:last-child{
	margin-right: 5%;
}
.navBar a{
	color: var(--cor1);
	font-size: 1.5rem;
}

/* ---- Section 1 -----*/
#banner{
	text-align: center;
	background-color:  rgba(113,194,115, 0.1);
}

#banner h1:first-child{
	font-size: 18rem;
	margin: 0% 0 0 0;
	color: var(--cor3);
}

#banner h1:last-child{
	font-size: 35rem;
	margin: 0% 0 0 0;
	color: var(--cor5);
}
#banner .mudacor1{
	animation: colorChangeAnimation 5s infinite;
}

@keyframes colorChangeAnimation {
	0% {
		color: var(--cor3);
	}
	50% {
		color: var(--cor4);
	}
	75%{
		color: var(--cor5);
	}
	100% {
		color: var(--cor6);
	}
}

#banner .mudacor2{
	animation: colorChangeAnimation 3s infinite;
}

@keyframes colorChangeAnimation {
	0% {
		color: var(--cor7);
	}
	50% {
		color: var(--cor6);
	}
	75%{
		color: var(--cor4);
	}
	100% {
		color: var(--cor3);
	}
}

#banner h1{
	font-family: "Press Start 2P";
}

/* ---- Section 2 -----*/

.areatext {
	font-family: "Press Start 2P";
}

.sec_2 .row{
	background-color: var(--cor3);
	padding: 2% 0 2% 0;
}

.areatext h1{
	font-size: 6rem;
	margin: 0 0 0 5%;
	color: var(--cor6);
}

.areatext h2{
	font-size: 6rem;
	margin: 0 0 0 25%;
	color: var(--cor2);
}

.areatext h3{
	font-size: 8rem;
	margin: 0 0 0 45%;
	color: var(--cor6);
}

.areaIcon{
	text-align: center;
	vertical-align: middle;
	font-size: 10rem;
	color: var(--cor2);
}

.btnRegister{
	vertical-align: middle;
	text-align: center;
}

.btnRegister a{
	background-color: var(--cor6);
	color: white;
	padding: 5% 10% 5% 10%;
	border-radius: 30px;
	font-size: 3rem;
	font-family: Poppins;
}

.btnRegister a:hover{
	background-color: var(--cor5);
}

.ps5Logo{
	background-color: blue;
}