:root{
	--cor1: rgb(0, 0, 0); /*Preto*/
	--cor2: rgb(255,255,255);
	--cor3: rgb(1,57,85);
	--cor4: rgb(16, 82, 102);
	--cor5: rgb(11,117,100);
	--cor6: rgb(29,179,109);
	--cor7: rgb(113,194,115);
}

/* Matriz row, col, col-x, */

.row{display: table; width: 100%}
.col{display: table-cell; vertical-align: top;}
.col-1{width: 8.33%; }
.col-2{width: 16.66%; }
.col-3{width: 25%; }
.col-4{width: 33.33%; }
.col-5{width: 41.66%; }
.col-6{width: 50%; }
.col-7{width: 58.33%;}
.col-8{width: 66.66%; }
.col-9{width: 75%; }
.col-10{width: 83.33%; }
.col-11{width: 91.66%; }
.col-12{width: 100%; }

.txt-right{ text-align: right; padding-bottom: 1%;}
.txt-center{ text-align: center; }
.txt-left{ text-align:left;}

body{margin: 0; padding:0;}

a{
	text-decoration: none;
}

/*
	Formato Desktop
*/

/* Header */

header{
	width: 100%;
	padding: 0;
	background: linear-gradient(#013955, #0B7564);
	
}

.logotipo{
	width: 5%;
	margin-left: 5%;
}

.logotipo img{
	width: 100%;
	height: auto;
	display: block;
}

.socialMedia{
	justify-content: center;
	text-align: center;
	margin: 1% auto 0 auto;
	display: inline;
	width: 50%;
}

.socialMedia ul li{
	list-style: none;
	display: inline;
	margin-left: 10%;
	
}


.socialMedia i{
	color: #fff;
}

.conta{
	margin-top: 1%;
}
header .conta a{
	color: #fff;
	margin: 2%;
}

.conta ul{
	justify-content: right;
	text-align: right;
}

/*NAV BAR*/

.navBar{
	text-align: center;
	margin: 1% 0 0 0;
}

.navBar li{
	text-decoration: none;
	list-style: none;
	display: inline;
	margin-right: 5%;
}

.navBar li:last-child{
	margin-right: 5%;
}
.navBar a{
	color: var(--cor1);
	font-size: 1.5rem;
}


