@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

:root{
	--cor1: rgb(51, 51, 51); /*Cinzento*/
	--cor2: rgb(130,192,204);
	--cor3: rgb(235, 188, 112);
	--cor4: rgb(17,102,102);
	--cor5: rgb(22,105,122);
	--cor6: rgb(255,255,255);
	--cor7: rgb(0,0,0);
}



/* Matriz row, col, col-x, */

.row{display: table; width: 100%}
.col{display: table-cell; vertical-align: top;}
.col-1{width: 8.33%; }
.col-2{width: 16.66%; }
.col-3{width: 25%; }
.col-4{width: 33.33%; }
.col-5{width: 41.66%; }
.col-6{width: 50%; }
.col-7{width: 58.33%;}
.col-8{width: 66.66%; }
.col-9{width: 75%; }
.col-10{width: 83.33%; }
.col-11{width: 91.66%; }
.col-12{width: 100%; }

.txt-right{ text-align: right; padding-bottom: 1%;}
.txt-center{ text-align: center; }
.txt-left{ text-align:left;}

body{margin: 0; padding:0;}

header{
	padding: 1% 3%;
	margin-left: 5%;
}

#retangulo{
	padding: 1.15% 0% 0% 1%;
	width: 25%;
	height: 1%;
	background-color: #fff;
	color: black;
	text-align: left;
	border-width: 00.1rem;
	border-style: solid;
	border-color: black;
}

#retangulo form{
	width: 100%;
	height: 2rem;
}

#retangulo input{
	width: 90%; 
    height: 100%; 
    border: none; 
    outline: none;
    margin-left: 10%;
    font-size: 30px;
}
#retangulo #search-icon{
	transform: translateY(-30px);
}

#bars{
	margin-right: 10%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}

.background{
	background-image: url(./resources/images/CoverStory_robots.jpeg);
	height: 100%;
	width: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 25%;

}

.retangulo{
	border-left: 1rem;
	background-color: var(--cor2);
	height: 10rem;
	width: 1.5%;
	margin-top: 20%;
	margin-bottom: 2%;

}

.texto{
	background-color: black;
	width: 50%;
	height: 500px;
}
.texto h1{
	color: white;
	width: 75%;
	font-size: 6rem;
	margin: 0;
	text-align: top;
	top: 75px;
}

.sec_1 p{
	color: #fff;
	font-size: 2rem;
}

.sec_2{
	text-align: left;
	margin: 5% 10% 10% 10%;
}
.imagem1{
	background-image: url("./resources/images/hand.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
	padding: 20%;
}

.sec_2 h1{
	font-size: 5rem;
	margin: 5% 0%;
}

.sec_2 h2{
	margin-top: 5%;
}

.sec_2 p{
	width: 95%;
	vertical-align: top;
}

.sec3L{
	background-color: var(--cor1);
	
}

.sec_3imgsL{
	height: 9.5rem;
	width: 75%;
	display: inline-block;
	font-size: 0;
	margin: 8.3% 0% 0% 47.6%;

}

.sec3R{
	background-color: var(--cor2);
	padding: 47.08% 0% 7% 0%
}

.sec_3imgsR{
	height: 150px;
  	width: 100%;
  	display: inline-block;
  	margin-bottom: 15%;
  	margin-left: 0;
  	font-size: 0;
}

.top-area{
	background-color: var(--cor3);
  	text-align: center;
  	width: 100%;
  	padding: 15% 0% 15% 0%;
 	font-size: 30px;
	
}	

.texto4{
	background-color: var(--cor2);
	text-align: justify;
	font-size: 1%;
	line-height: 1.7;
}

.imagem4{
  	background-size: cover;
}

.button4{
background-color: var(--cor2);
  color: #fff;
  padding: 3% 0% 3% 0%;
  border: none;
  background-color: var(--cor2);
  width: 35%;
  margin: 5% 25% 0% 25%;
   
}

.sec_5{
	background-color: var(--cor1);
	padding: 5%;
}

.robbot p{
	width: 100%;
}

.container{
	max-width: 100%;
	margin: 0 auto;
	justify-content: center;
}

.sec_6Top{
	text-align: center;
	max-width: 55%;
	margin: 0 auto;
}

.sec_6Top h2{
	font-size: 3rem;
	color: var(--cor3);
}
.container .sec_6Bot{
	display: flex;
	justify-content: center;
	margin: 5% 10% 5% 10%;
}

.sec_7 .background_7{
	background-color: black; 
	background-size: cover;
	padding: 1%;

}

.retangulo_7{
	background-color: var(--cor3);
	height: 9rem;
 	width: 1%;
 	margin: 3% 0% 5% 10%;
}

.text7 h1{
	color: var(--cor3);
	font-size: 6rem;
	margin: 0;
}

.text7 p{
	color: #fff;
	width: 100%;
	font-size: 1.4rem;
	text-align: left;
	margin-top: 2%;
}


.text7{
	margin: 1% 10% 0% 3%;
}

.sec_7 .container{
	display: flex;
	justify-content: center;
}

.sec_8 .background8{
	background-color: var(--cor5);
	padding: 5% 10% 2% 10%;
	background-size: cover;
}

.Background2{
	background-color: var(--cor2);
}

.img8{
	background-image: url(./resources/images/foto6.png);
	background-size: cover;
}
.txt8{
	background-color: var(--cor2);

}
.txt8 h1{
	font-size: 3.5rem;
	width: 70%;
	margin: 20% 5% 5% 15%;
}
.txt8 p{
	font-size: 1.5rem;
	width: 75%;
	margin: 10% 5% 0% 15%;
	line-height: 1.5;
}

.txt8 button{
	padding: 2% 6% 2% 6%;
	background-color: var(--cor5);
	width: 25%;
	border: none;
	margin-top: 20%;
	margin: 20% 0% 30% 15%;
}

.background9{
	background-color: #fff;
	padding: 20%;
	background-size: cover;
}

.sec_9 .container{
	display: flex;
	justify-content: center;
	max-width: 0% auto;
	margin: 0;
	vertical-align: top;
}

.img9{
	width: 50%;
	margin: 2% 0% 2% 10%;
}

.txt9{
	width: 50%;
	margin: 10% 10% 15% 1%;
}

.txt9 h3{
	font-size: 3rem;
  	margin: 0;
}

.txt9 h2{
	font-size: 5.5rem;
  	margin: 5% 0%;
}

.txt9 p{
	font-size: 1.5rem;
  	width: 93%;
}

.sec_9 button{
	padding: 3% 5% 3% 5%;
	background-color: var(--cor2);
	width: 20%;
	border: none;
	margin-top: 15%;
}

.backgroundF{
	background-color: var(--cor5);
	background-size: cover;
	padding: 1%;
	margin: 0;
}

.txtf .container{
	justify-content: center;
	display: flex;
	margin: 0 auto;
}
.txtf{
	width: 50%;
	text-align: center;
	font-size: 1.5rem;
	margin-left: 25%;
	color: #fff;
}

.iconsF{
	width: 50%;
	text-align: center;
	font-size: 1.5rem;
	margin: 5% 25% 2% 25%;
}